body {
    height: 316px;
    color: #EEE;
    background: rgb(17, 17, 17);
    background: -webkit-gradient(radial, center center, 0, center center, 40%,
    from(rgba(100, 100, 100,0.5)), to(rgba(17, 17, 17,0))) no-repeat
    url(../images/backgroundpattern.png),
    rgb(17, 17, 17);
    background: -webkit-radial-gradient(rgba(100, 100, 100,0.5),
    rgba(17, 17, 17,0) 40%) no-repeat,
    url(../images/backgroundpattern.png),
    rgb(17, 17, 17);
    background: -moz-radial-gradient(rgba(100, 100, 100,0.5),
    rgba(17, 17, 17,0) 40%) no-repeat,
    url(../images/backgroundpattern.png),
    rgb(17, 17, 17);
    background: -ms-radial-gradient(rgba(100, 100, 100,0.5),
    rgba(17, 17, 17,0) 40%) no-repeat,
    url(../images/backgroundpattern.png),
    rgb(17, 17, 17);
    background: -o-radial-gradient(rgba(100, 100, 100,0.5),
    rgba(17, 17, 17,0) 40%) no-repeat,
    url(../images/backgroundpattern.png),
    rgb(17, 17, 17);
    background: radial-gradient(rgba(100, 100, 100,0.5),
    rgba(17, 17, 17,0) 40%) no-repeat,
    url(../images/backgroundpattern.png),
    rgb(17, 17, 17);
}

.soundButton {
    margin-top: 10px;
}

.randomButton {
    vertical-align: top;
}

.userNameSelect {
    width: 150px;
}

#width_tmp_select{
    display : none;
}

label.ui-widget {
    vertical-align: top;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

#player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 29px;
    background: url('../images/volume-background.png') no-repeat left top;
}

#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:15px;
    width: 300px;
    background: url('../images/volume-empty.png') no-repeat left top;
    border: none;
    outline: none;
}

#volume .ui-slider-range-min {
    height:15px;
    width: 300px;
    position: absolute;
    background: url('../images/volume-full.png') no-repeat left top;
    border: none;
    outline: none;
}

#volume .ui-slider-handle {
    width: 38px;
    height:39px;
    background: url('../images/volume-knob.png') no-repeat left top;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    outline: none;
    border: none;
}
