name: Docker Version Release

on:
  create:
    tags:
      - v*

jobs:

  docker-version:
    runs-on: ubuntu-latest

    steps:

      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/discordsoundboard:${{ steps.get_version.outputs.VERSION }}

      - name: Discord Soundboard Notification
        uses: meisnate12/discord-notifications@master
        if: success()
        with:
          webhook_id: ${{ secrets.BUILD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.BUILD_WEBHOOK_TOKEN }}
          title: "Docker Image ${{ steps.get_version.outputs.VERSION }} build: **Success**"
          url: https://github.com/Darkside138/DiscordSoundboard/actions/runs/${{ github.run_id }}
          username: Docker Release Notifier
          avatar_url: https://raw.githubusercontent.com/Darkside138/DiscordSoundboard/master/distFiles/avatar.jpg
          author: Docker
          author_icon_url: https://raw.githubusercontent.com/Darkside138/DiscordSoundboard/master/.github/docker.png

      - name: Discord Soundboard Notification
        uses: meisnate12/discord-notifications@master
        if: success()
        with:
          webhook_id: ${{ secrets.BUILD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.BUILD_WEBHOOK_TOKEN }}
          title: "Discord Soundboard ${{ steps.get_version.outputs.VERSION }} Released"
          url: https://github.com/Darkside138/DiscordSoundboard/releases/tag/${{ steps.get_version.outputs.VERSION }}
          username: Release Notifier
          avatar_url: https://raw.githubusercontent.com/Darkside138/DiscordSoundboard/master/distFiles/avatar.jpg
          author: Discord Soundboard
          author_icon_url: https://raw.githubusercontent.com/Darkside138/DiscordSoundboard/master/distFiles/avatar.jpg